
<!-- Begin Footer -->
<footer class="site-footer" role="contentinfo">
  <div class="row">
  <div class="large-6 columns">
      <a href="http://www.phila.gov">City of Philadelphia</a>
    </div>
    <div class="large-6 columns feedback">
      <a href="#">Feedback</a>
    </div>
    <div class="large-12 columns">
    </div>
  </div>
</footer>

<!-- End Footer -->
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="{{ '/bower_components/underscore/underscore-min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/bower_components/papaparse/papaparse.min.js' | prepend: site.baseurl }}"></script>
<script src="//www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['corechart']}]}"></script>
<script src="{{ '/bower_components/datatables/media/js/jquery.dataTables.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/bower_components/datatables-plugins/integration/foundation/dataTables.foundation.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/bower_components/bower-foundation/js/foundation.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/bower_components/accounting.js/accounting.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/main.js' | prepend: site.baseurl }}"></script>
