
<!-- Begin Footer -->
<footer class="site-footer" role="contentinfo">
  <div class="row">
  <div class="large-6 columns">
      <a href="http://www.phila.gov">City of Philadelphia</a>
    </div>
    <div class="large-6 columns feedback">
      <a href="#"data-reveal-id="feedback-form">Feedback</a>
    </div>
    <div class="large-12 columns">
    </div>
  </div>
</footer>
<div id="feedback-form" class="reveal-modal small" data-reveal>
  <a class="close-reveal-modal">&#215;</a>
  <script type="text/javascript" src="https://form.jotform.com/jsform/60114784323147"></script>
</div>

<!-- End Footer -->
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="{{ '/bower_components/underscore/underscore-min.js' | absolute_url }}"></script>
<script src="{{ '/bower_components/papaparse/papaparse.min.js' | absolute_url }}"></script>
<!-- 
<script src="//www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['corechart']}]}"></script> -->

<script src="{{ '/bower_components/datatables/media/js/jquery.dataTables.min.js' | absolute_url }}"></script>
<script src="{{ '/bower_components/datatables-plugins/integration/foundation/dataTables.foundation.min.js' | absolute_url }}"></script>
<script src="{{ '/bower_components/bower-foundation/js/foundation.min.js' | absolute_url }}"></script>
<script src="{{ '/bower_components/accounting.js/accounting.min.js' | absolute_url }}"></script>
<script src="{{ '/js/responsive-tables.js' | absolute_url }}"></script>
<script src="{{ '/js/main.js' | absolute_url }}"></script>