<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="{{ '/bower_components/underscore/underscore-min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/bower_components/papaparse/papaparse.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/bower_components/highcharts/highcharts.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/bower_components/datatables/media/js/jquery.dataTables.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/bower_components/accounting.js/accounting.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/main.js' | prepend: site.baseurl }}"></script>