<!-- Begin .header -->
<header class="site-header app" role="banner">
  <div class="row">
    <div class="small-24 medium-24 columns">
      <a href="http://www.phila.gov">
  <img src="{{ "/img/city-of-philadelphia-logo.png" | prepend: site.baseurl }}" class="logo no-scale" alt="City of Philadelphia"></a>
  <a href="{{ site.baseurl }}/"><h1 class="page-title">Open Contract Data</h1></a>
    </div>
  </div>
</header>
<!-- End .header -->
<div class="row">
  <div class="small-24 columns">
    <div class="divider"></div>
  </div>
</div>
