<div class="row">
    <div class="medium-24 columns">
        <h3 class="chart">Contract Dollars by Vendor - Top 10 (2015/Q1)</h3>
        <!--<div class="visualization" data-source="{{ "/data.csv" | prepend: site.baseurl }}" data-groupby="vendor" data-aggregate="contract_amount" data-limit="10"></div>-->
        <div id="by_vendor" class="visualization"></div>
    </div>
</div>
<div class="row">
    <div class="medium-24 columns">
        <h3 class="chart">Contract Dollars by Department - Top 10 (2015/Q1)</h3>
        <!--<div class="visualization" data-source="{{ "/data.csv" | prepend: site.baseurl }}" data-groupby="department_name" data-aggregate="contract_amount" data-limit="10"></div>-->
        <div id="by_department" class="visualization"></div>
    </div>
</div>
<div class="row">
    <div class="medium-24 columns">
  <h3 class="chart">Contract Dollars by Type - Top 10 (2015/Q1)</h3>
  <div id="by_type" class="visualization"></div>
    </div>
</div>
<div class="row">
    <div class="medium-24 columns">
        <h3>Top Contracts by Amount</h3>
        <table id="browse" class="table table-striped"></table>
    </div>
</div>

<script type="text/javascript">
sources = [
    {
        path: '{{ "/professional-services/data/FY-2015-Q1.csv" | prepend: site.baseurl }}',
        cleanCurrency: ['contract_amount', 'tot_payments'],
        visualizations: [
            {
                container: '#by_vendor',
                type: 'pie',
                groupBy: 'vendor',
                aggregate: 'contract_amount',
                limit: 10
            },
            {
                container: '#by_department',
                type: 'pie',
                groupBy: 'department_name',
                aggregate: 'contract_amount',
                limit: 10
            },
      {
    container: '#by_type',
    type: 'pie',
    groupBy: 'contract_structure_type',
    aggregate: 'contract_amount',
    limit: 10
      },
            {
                container: '#browse',
                type: 'table',
                columns: {
                    'department_name': 'Department',
                    'vendor': 'Vendor',
                    'contract_structure_type': 'Type',
                    'short_desc': 'Description',
                    'contract_amount': 'Contract Amount',
                    'tot_payments': 'Payments'
                },
                sort: [
                    [4, 'desc']
                ]
            }
        ]
    }
];
</script>
